@import "./variables.scss";

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: $main-colour;
  color: white;
  z-index: 999;
  top: 0;
  position: fixed;
  padding: 1.5em;
}

.logo {
  margin-right: auto;
  font-family: "Bungee", cursive;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav i {
  color: red;
}

nav i:hover {
  cursor: pointer;
  color: $secondary-colour;
}
