nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
}

nav > span {
  display: inline-block;
  font-family: "Bungee", cursive;
  margin: 1.5em;
}

nav > div {
  float: right;
  margin: 1.5em;
}

i {
  color: red;
}
