nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  z-index: 999;
}

.logo {
  margin-right: auto;
  font-family: "Bungee", cursive;
  padding: 1.5em;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

i {
  color: red;
}

i:hover {
  cursor: pointer;
  color: black;
}
